/* --- links page styling -- */
#links-page {
  background: conic-gradient(from 125deg, var(--vivid-color-1), var(--vivid-color-2), var(--vivid-color-3), var(--vivid-color-4), var(--vivid-color-5), var(--vivid-color-1));
  background-attachment: fixed;
  margin-top: -1em;
  margin-bottom: -1em;
  padding-top: $padding-small;
  padding-bottom: $padding-small;
}

#links-profile {
  #avatar {
    border-radius: 50%;
    border: .2em solid var(--vivid-color-2);
    width: 50%;
    margin: 1em auto;
    display: block;
    padding: 0;
  }

  p {
    text-align: center;
  }
}

#links {
  list-style-type: none;
  margin-left: 0em;
  font-family: $font-family-headings; // override text to use heading text instead of body

  li {
    a {
      display: block;
      margin: 1em 2em;
      padding: $padding-small;
      text-align: center;
      background-color: var(--vivid-color-1);
      color: white;
    }
  }
}

.column {
  background-color: var(--background);
  max-width: 500px;
  margin: 0 auto;
  padding-top: 1em;
  padding-bottom: 1em;
}