---
layout: default
---
<article>
  <h1>{{ page.title }}</h1>
  <section class="post-content">
    {{ content }}
  </section>
  <!-- Social media shares -->
  {% include social/share_buttons.html %}

   <!-- Tag list -->
  {% capture tag_list %}{{ page.tags | join: "|"}}{% endcapture %}
  {% include default/tags_list.html tags=tag_list %}

</article>

<!-- Post navigation -->
{% if site.post_navigation  or site.theme_settings.post_navigation %}
{% include blog/post_nav.html %}
{% endif %}

<!-- Cusdis -->
{% if site.cusdis_app_id %}{% include social/cusdis.html %}{% endif %}

<!-- Disqus -->
{% if site.disqus_shortname or site.theme_settings.disqus_shortname %}
{% include social/disqus.html %}{% endif %}

